
.main-video-item {
    height: 300px;
    width: 300px;
    margin: 10px;

   
    background-color: var(--color-title-in-primary);
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text-title);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;   
    
    display: flex;
    align-items : initial;
    flex-direction : column;

}

 iframe {
    width: 300px;
    height: 280px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.title {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    word-break: normal;
}