
.main-detail {
    height: 0px;
    width: 0px;
}
.main-detail iframe {
    padding-top: 50px;
    display: block;
    width: 900px;
    height: 500px;
}

.video-detail-main {
    width: 300px;
    padding-top: 10%;
    line-height: 1.5;
}

.video-detail-main iframe {
    width: 900px;
    height: 600px;
    border: none;
    margin: 0 auto;
}

.description {
    width: 900px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.title-video {
    font-size: 20px;
    color: var(--color-title-in-primary);
    
}

.welcome {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 50px;
color: var(--color-line-in-white);
}